/* Reset de estilos */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Estilos gerais */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    line-height: 1.6;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

.dados-pessoais {
    display: flex;
    align-items: center;
}

.dados-pessoais img {
    margin-right: 20px;
    max-width: 150px;
    border-radius: 50%; /* Adiciona borda circular na imagem */
}

footer {
    text-align: center;
    margin-top: 20px;
}

header {
    text-align: center;
    padding-bottom: 20px;
    border-bottom: 1px solid #ccc;
}

h1, h2 {
    margin-bottom: 10px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: #007bff;
}

a:hover {
    text-decoration: underline;
}

section {
    margin-bottom: 20px;
}

section:last-child {
    margin-bottom: 40px;
}